.logo{
    width: 56%;
}

.menu {
    display: inline-block;
    border-radius: 0.2rem;
    position: relative;
}

.category-image{
    width: 30px !important;
    height: 25px !important;
    margin-right: -5px;
}

.search-box{
    display: block;
    /* position: relative; */
}