<header>
  <nav class="fixed-top navbar navbar-expand-lg navbar-light">
    <a class="navbrand-brand" ng-reflect-router-link="/" href="/">
      <img src="https://aapkabazar.co/assets/image/logo.png" class="logo" alt="">
      <button type="button" class="btn btn-primary menu">
        <img src="https://aapkabazar.co/assets/image/category.png" alt="" class="category-image">
        All category
        <i class="fa-solid fa-angle-down"></i>
      </button>
      <div class="input-group mb-3 search-box">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </a>
  </nav>
</header>